@font-face {
    font-family: 'teamFont';
    src: url('Beyond%20Wonderland.ttf')  format('truetype'); /* Safari, Android, iOS */

}
@font-face {
    font-family: 'num';
    src: url('num.ttf')  format('truetype'); /* Safari, Android, iOS */

}
body
{
    margin:0px;
    padding:0px;
    background-size:cover;
    background-image: url('image/bg.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    color: #fff;
}


.sheild
{
    background-image: url("image/sheild.png");
    background-size: cover;
    height: 250px;
    width: 100%;
}
.teamname
{
    text-align: center;
    font-family: teamFont;
    font-size: 60px;
    font-weight: 500;
}
.logo
{
    position: absolute;
    margin-left: 28%;
    margin-top: 12%;
}
.logo img
{
    width:300px;
    height:300px;
}
.wri
{
    position: absolute;
    margin-left: 31%;
    margin-top: 24%;
}
.wri img
{
    width:200px;
    height: 100px;
}
.score
{
    padding-top: 25%;
    text-align: center;
    font-size: 70px;
    color: #406a93;
    padding-left: 6%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#evname1
{
    font-size: 40px;
    color:#d0d0d0;
    font-family: Arial, Baskerville, monospace;

}
#p1
{
    font-size: 20px;
}
#h1
{
    font-size: 20px;
    margin-left: 20px;
    font-style: italic;

}
#result
{

}
.marquee {

    overflow: hidden;

    height: 98%;

}